.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a {
	img {
		&.alignright {
			float:right;
			margin:5px 0 20px 20px;
		}
		&.alignnone {
			margin:5px 20px 20px 0;
		}
		&.alignleft {
			float:left;
			margin:5px 20px 20px 0;
		}
		&.aligncenter {
			display:block;
			margin-left:auto;
			margin-right:auto;
		}
	}
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
	&.alignnone {
		margin:5px 20px 20px 0;
	}
	&.alignleft {
		margin:5px 20px 20px 0;
	}
	&.alignright {
		margin:5px 0 20px 20px;
	}
	img {
		border:0 none;
		height:auto;
		margin:0;
		max-width:98.5%;
		padding:0;
		width:auto;
	}
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}
.site-footer-lower {
  box-shadow: 0 999em 0 999em #111;
}
.site-footer-upper [class*=tk-icon] {
	font-size: 32px;
}
.quicklinks-list {
	ul {
		padding-left: 0;
	}
	.recentcomments {
		color: #f7f7f7;
		.url {
			font-size: 14px;
		}
	}
	.textwidget {
		color: #f7f7f7;
		padding-left: 6px;
		p {
			margin-bottom: 15px;
    		font-size: 14px;
		}
	}
}

.sidebar-widget-button {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 110%;
	display: block;
	width: 100%;
	background: lighten(#f4f2f0, 4%);
	padding: 9px 30px;
	border: 0;
	text-align: left;
	position: relative;
	border-bottom: 1px solid #f4f2f0;

	&:before {
		font-family: tk-icons!important;
		speak: none;
		content: "\EA13";
		color: #aa8f6f;
		position: absolute;
		top: 50%;
		left: 10px;
		margin-top: -9px;
		font-size: 16px;
	}

	&:after {
		font-family: tk-icons!important;
		speak: none;
		content: "\EA08";
		position: absolute;
		top: 50%;
		right: 10px;
		margin-top: -9px;
		font-size: 16px;
	}
}

	@media screen and (min-width: 1024px) {

		.sidebar-widget-button {
			display: none;
		}
	}

	@media (min-width: 479px) {
		.sidebar-widget-button {
			font-size: 15px;
			padding: 10px 5px 10px 40px;
		}
	}

		@media (min-width: 480px) {
			.sidebar-widget-button:before {
				left: 15px;
			}

			.sidebar-widget-button:after {
				right: 15px;
			}
		}

	.js-widget-toggle--active {
		background: #aa8f6f;
		color: #fff;

		&:before {
			content: "\EA0C";
			color: #fff;
		}
	}

@media screen and (max-width: 1169px) {

	.sidebar-nav--widget {
		display: none;
	}

	.sidebar-nav {
		display: none;
	}
}
